.card{
    max-width: 300px;
    border: solid ;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    display:inline-block;
    align-content: center;
    overflow-wrap: break-word;
    padding: 17px;
    vertical-align: middle;

}
.container{
    width: 100%;
    height: 100%;

}
.button{
    width: 100%;
    text-align: center;
}
.recordbtn{
   margin-left: 10px;
   width: 80px;
}