/* Main Page */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

h1 {
    text-align: center;
    margin: 50px;
    margin-top: 110px;
}

.FBIimg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('https://img.bhs4.com/0e/c/0ec6b1f2738dbc167c0d863d88348c3ac12e1ca3_large.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    max-width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Login form shell */

/* Full-width input fields */
input[type=text], [type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  text-align: center;
  background-color: #049761;
  color: white;
  padding: 14px 20px;
  margin: 16px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #eb3224;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.lastname {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  float: right;
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.lastname {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }

/* Registration form shell */

/* Add a background color when the inputs get focus */
input[type=text], [type=email]:focus {
    background-color: #ddd;
    outline: none;
  }

/* Float cancel and signUp buttons and add an equal width */
.cancelbtn, .signUp {
    float: left;
    width: 50%;
  }

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signUp button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signUp {
       width: 100%;
    }
  }
}